timeline.enabled   = true
timeline.overwrite = true
trace.enabled      = true
trace.overwrite    = true
dag.enabled        = true
dag.overwrite      = true

params {
    batch_size       = 10
    datasets_csv     = null
    organ            = null
    uberon_json      = null
    disease_json     = null
    hsapdv_json      = null
    min_cluster_size = 5
    outdir           = 'results'
    publish_mode     = 'copy'
}

docker {
    enabled    = true
    runOptions = '--platform linux/amd64'
}

process {
    withName: 'download_h5ad_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 2
        memory = '8 GB'
        maxForks = 8
    }
    withName: 'filter_adata_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 32
        memory = '256 GB'
        maxForks = 4
    }
    withName: 'dendrogram_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 8
        memory = '64 GB'
        maxForks = 8
    }
    withName: 'prep_medians_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 32
        memory = '384 GB'
        maxForks = 31
    }
    withName: 'prep_binary_scores_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 32
        memory = '384 GB'
        maxForks = 31
    }
    withName: 'plot_histograms_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 8
        memory = '32 GB'
        maxForks = 8
    }
    withName: 'run_nsforest_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 32
        memory = '384 GB'
        maxForks = 31
    }
    withName: 'merge_nsforest_results_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 8
        memory = '32 GB'
        maxForks = 8
    }
    withName: 'plots_process' {
        container = 'ghcr.io/nih-nlm/sc-nsforest-qc-nf/nsforest:latest'
        cpus = 8
        memory = '64 GB'
        maxForks = 8
    }
    withName: 'compute_silhouette_process' {
        container = 'ghcr.io/nih-nlm/scsilhouette:1.0'
        containerOptions = '--entrypoint ""'
        cpus = 32
        memory = '256 GB'
        maxForks = 8
    }
    
    withName: 'viz_summary_process' {
        container = 'ghcr.io/nih-nlm/scsilhouette:1.0'
        containerOptions = '--entrypoint ""'
        cpus = 8
        memory = '32 GB'
        maxForks = 8
    }
    withName: 'viz_dotplot_process' {
        container = 'ghcr.io/nih-nlm/scsilhouette:1.0'
        containerOptions = '--entrypoint ""'
        cpus = 8
        memory = '32 GB'
        maxForks = 8
    }
    withName: 'viz_distribution_process' {
        container = 'ghcr.io/nih-nlm/scsilhouette:1.0'
        containerOptions = '--entrypoint ""'
        cpus = 8
        memory = '32 GB'
        maxForks = 8
    }
}