// Enable monitoring and logging
timeline.enabled            = true
trace.enabled               = true
dag.enabled                 = true

// Define pipeline parameters
params {
    datasets_csv         = 'test.csv'
}


// Enable docker
docker {
  enabled = true
  runOptions = '--pull always'
}

 process {
    withName: prep_medians_process {
        container = 'ghcr.io/nih-nlm/nsforest-nf/nsforest:latest'
	maxForks = 31
        cpus = 32
        memory = '128 GB'
    }

    withName: prep_binary_scores_process {
        container = 'ghcr.io/nih-nlm/nsforest-nf/nsforest:latest'
        cpus = 8
	maxForks = 7
        memory = '32 GB'
    }

    withName: run_nsforest_process {
        container = 'ghcr.io/nih-nlm/nsforest-nf/nsforest:latest'
        cpus = 32
	maxForks = 31
        memory = '128 GB'
    }


}