// Enable monitoring and logging
timeline.enabled            = true
trace.enabled               = true
dag.enabled                 = true

// Define pipeline parameters
params {
    author               = 'name'
    condition            = 'normal'
    datasets_csv         = 'kidney.csv'
    embedding_key_ch     = 'X_umap'
    gencode_release      = 49
    h5ad_ch              = '5774ef6a-4082-48f6-a692-674637671aa5.h5ad'
    label_key_ch         = 'subclass.l3'
    metric               = 'euclidean'
    organism             = 'Homo sapiens'
    publication_date     = 'year'
    publication          = 'publication_name'
    tissue               = 'kidney'
    outdir               = 'results'
    save_annotation      = true
    save_cluster_summary = true
    save_scores          = true
    silhouette_score     = 'silhouette_score'
    sort_by              = 'median'
    score_col            = 'silhouette_score'
}


// Enable docker
docker {
  enabled = true
  runOptions = '--pull always'
    withName: publish_results_process {
        container = 'ghcr.io/nih-nlm/publish-tools:latest'
        maxForks = 1
        cpus = 1
        memory = '2 GB'
    }

}
