// Enable monitoring and logging
timeline.enabled = true
timeline.overwrite = true
trace.enabled = true
trace.overwrite = true
dag.enabled = true
report.overwrite = true

// Define pipeline parameters
params {
    outdir = './test_results'
    publish_mode = 'copy'  // Added to fix warning
}

// Enable docker
docker {
    enabled = true
    runOptions = '--platform linux/amd64'
    pull = 'never' //Never pull, only use local images
}

// Process configuration
process {
    withLabel: nsforest {
        container = 'nsforest:1.0.0'
        cpus = 4
        memory = '8 GB'
    }
    
    // Override/add scsilhouette-specific settings
    withLabel: scsilhouette {
        container = 'ghcr.io/nih-nlm/scsilhouette:1.0'
        cpus = 4
        memory = '8 GB'
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
        docker.registry = 'ghcr.io'
        docker.fixOwnership = true
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
